[2014-12-08 01:04] brunofarache opened #8 "Documentation for credential storage"
Need to write docs for credential storage

[2014-12-08 02:04] #8 closed, assigned to brunofarache

[2014-12-19 13:04] FlorinSfatosu opened #9 "userService.getUserIdByEmailAddress - ClassCastException"
Library version: liferay-android-sdk-6.2.0.9.jar

Calling method "getUserIdByEmailAddress" of "UserService" rises every time the exception:
java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.Long

PS: With the same parameters is working fine in browser (.../api/jsonws)

[2014-12-22 21:21] #9 closed, assigned to nobody

[2015-01-20 12:07] ravishi opened #12 "Every method invocation throws Exception"
I find it pretty hard to deal with the right errors in code using the Android client because every Java method that reaches the web service is currently signed with "throws Exception".

Because of that, it's pretty hard to identify exaclty what can go wrong inside the client's code. We know that there can occur networking problems, IO errors, HTTP errors, exceptions returned by the remote server,

[2015-01-20 12:20] yuchi commented on #12
[This is what](https://github.com/smclab/liferay-connector/blob/7e8d164aca13964c570974ad6ada8780f7108f60/lib/invoker.js#L96) we do on [Liferay Connector](https://github.com/smclab/liferay-connector/), if it helps.

[2015-01-20 12:23] ravishi commented on #12
Oh, thanks for that. But I was talking about Java Exceptions on Android's client code. Will try to clarify that on the OP.

[2015-01-20 12:26] yuchi commented on #12
Oh, I thought you were talking about mapping Liferay exceptions to concrete Exceptions.

[2015-01-20 12:28] ravishi commented on #12
That will definitely be useful to me, so thanks anyway!

[2015-01-20 12:53] brunofarache commented on #12
Hi @ravishi, are you saying we should separate each method exception into several Exceptions types? Like "throws ServerException, IOException, RedirectException"?

[2015-01-20 12:59] ravishi commented on #12
Hey, @brunofarache, that's right.

In my previous code I had IOException, ServerException and JSONException. That way I could easily identify if the exception was caused by a network error (IOException), a data error while loading the returned objects (JSONException) or a exception sent by the remote web service (ServerException). We could probably specialize some more exceptions, the whole point

[2015-01-20 13:00] ravishi commented on #12
Hey, @brunofarache, that's right.

In my previous code I had IOException, ServerException and JSONException. That way I could easily identify if the exception was caused by a network error (IOException), a data error while loading the returned objects (JSONException) or a exception sent by the remote web service (ServerException). We could probably specialize some more exceptions, the whole point

[2015-01-20 13:06] brunofarache commented on #12
OK, I can try to split them and regenerate all services to see how it goes.

In our apps we don't really care much about the Exception type. The only one that makes some difference is RedirectException, which tells us to make a second request with the redirected URL. Apart from that, most Exceptions are not recoverable.

[2015-01-20 13:21] ravishi commented on #12
I'll fork this and try to help with that. We plan to make our app somewhat lenient to connectivity problems (by caching stuff locally and showing at least some *dirty* data to the user instead of nothing), so I'm really interested in having some sort of distinction of exceptions here. I guess I will be able to submit you a patch with some work soon.

[2015-01-20 13:25] brunofarache commented on #12
Agree, I see your point about being hard to identify which type of Exception the inner code would throw.

Waiting for  your patch, thanks!

[2015-01-26 11:29] speciosus opened #13 "CalendarbookingService causes App Crash on Android Platform"
I want to report a bug related to the use of CalendarbookingService on android platform.
Specifically, the invocation of the "search" function causes a crash of the application that you can not manage even with a try-catch block.
An example of invocation is the following:
<code>
CalendarbookingService calendarbookingService = new CalendarbookingService(session);

                long companyId = 1

[2015-01-26 12:21] brunofarache commented on #13
Which version are you using and which error are you getting on the logs?

[2015-01-26 12:43] speciosus commented on #13
I'm using the latest version of SDK (6.2.0.9) and I get a "RuntimeException" thats kills the app even if the code is surrounded by a try-catch block that catch "Exception"

[2015-01-26 12:47] brunofarache commented on #13
Can you catch the RuntimeException to see what's wrong? In Android, when they are not caught, they also show up in the console.

[2015-01-26 12:57] speciosus commented on #13
"RuntimeException" is subclass of "Exception" but it fails to manage it.
As you can see in the screenshot, the detail of exception is void while running in debug mode.

![bug](https://cloud.githubusercontent.com/assets/6883979/5899944/280b2c2a-a563-11e4-85f4-916ba7f86028.jpg)

[2015-01-26 13:03] brunofarache commented on #13
Ah, maybe if you were catching Throwable instead it would catch it?

Anyways, there's a newer version of the Android SDK that fixes an issue that maybe related to yours (issue #9). I have published it to Maven but I guess you adding the .jar manually, I have also added it to the releases page:

https://github.com/liferay/liferay-mobile-sdk/releases/tag/android-6.2.0.14

[2015-01-26 13:07] brunofarache commented on #13
You are using services that your generated yourself, right? You should also re-generate with the latest builder, because issue #9 also changes the way services are generated.

[2015-01-26 13:54] speciosus commented on #13
Yes, I made a custom service.
I regenerated the services using the latest SDK: now the catch-block works as it should but catch (or throw) a void Exception (null).
In the debugger I can't see nothing interesting.

[2015-01-26 14:09] speciosus commented on #13
I made some changes in my code with an explicit declaration of long type:

<code>
                long companyId = 10157l;

                JSONArray groupIdArray = new JSONArray();
                groupIdArray.put(13601l);

                JSONArray calendarIds = new JSONArray();
                calendarIds.put(13904l);

                JSONArray calendarResIdArray = new JSONArray();

[2015-01-26 17:00] speciosus commented on #13
I solved the issue. The function search doesn't support "null" as value for keyword.
<code>
JSONArray last = calendarbookingService.search(companyId, groupIdArray, calendarIds, calendarResIdArray, -1l , "", startTime, endTime, true, statuses, -1, -1, null);
</code>

[2015-01-26 17:43] brunofarache commented on #13
I see, that error means the server can't infer which method you are trying to call.

[2015-01-26 17:43] #13 closed

[2015-01-27 11:09] brunofarache commented on #12
Closing this in the meantime.

[2015-01-27 11:09] #12 closed

[2015-03-30 18:49] asotog opened #14 "IOS: Using Liferay Mobile SDK as framework seems not working"
Hi,
Currently working on project using mobile sdk and using pods, initially it built fine, but i needed to add a swift dependency, so set pods to use it as frameworks but not sure why mobile sdk seems to be not working fine with that configuration, also raised the issue on cocoa pods (pls look at it for more detail) but still getting errors,
https://github.com/CocoaPods/CocoaPods/issues/3334#issue

[2015-03-30 19:11] brunofarache commented on #14
@asotog, that's a good coincidence.

I was just trying to make the Mobile SDK to work with some other Swift project. After some changes, I was able to lint the project successfully.

I'm not really sure what has fixed it but I suspect it was this change made by @jmnavarro 6a5880019037be428cc92c785748071c4268d481

He moved CommonCrypto library import out of the header file.

I just published versio

[2015-03-30 19:37] asotog commented on #14
mm i think that solved the issue but had to modify all the sdk generated services files in my project, also modified liferay screens bridging header to support it and some liferay screens services

[2015-03-30 20:50] brunofarache commented on #14
Can you tell me what you had to change? Also having issues with another Swift project that depends on Screens + 6.2.0.14.

[2015-03-30 20:54] asotog commented on #14
Liferay screens custom services inside  Liferay-Screens/Source/Services, had
[code]
so updated to
[code]
also liferay screens bridging header changed from
[code]
to

[code]

still has some commented lines but is building fine now

[2015-03-30 20:56] jmnavarro commented on #14
Today I was working on package Liferay Screens as a pod dependency (:

https://issues.liferay.com/browse/LMW-48

Will be ready for next version!

[2015-03-30 21:40] asotog commented on #14
thats great, screens bridge header can be cleaned even more i guess :

/**
 * Copyright (c) 2000-present Liferay, Inc. All rights reserved.
 *
 * This library is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation; either version 2.1 of the License, or (at your option)
 * any later versi

[2015-03-30 21:42] jmnavarro commented on #14
Yes, we're working on that direction

Screens will be a framework and it will be able to be imported just with `pod LiferayScreens`

Thanks!

[2015-03-30 21:49] brunofarache commented on #14
OK, let me see if I understood it correctly.

1. When you have dependencies that are written in Swift. Cocoapods requires you to add "use_frameworks!" to your Podfile.

2. Once you do this, you need import them as frameworks:
import FrameworkName (from *.swift)
@import FrameworkName; (from *.m and apparently from bridging *.h files too)

In fact, it doesn't matter if FrameworkName is written in Sw

[2015-03-30 22:09] asotog commented on #14
yep all dependencies are loaded as frameworks but you will need to explicitly import them with @import or import (for swift)

[2015-03-30 22:16] brunofarache commented on #14
I can change the podspec module_name to LiferayiOSSDK so you can import like this and avoid underscores:

@ import LiferayiOSSDK;

Or is it better to call LiferayMobileSDK?

[2015-03-30 22:23] jmnavarro commented on #14
For me LiferayMobileSDK is a better name. Obviously it's iOS for all of us (:

[2015-03-30 23:24] brunofarache commented on #14
Renamed to LRMobileSDK: fd9c31d7dc2c17afac067661fffb6ffcfb4926eb

I picked this to make it consistent with LRPush, LROAuth and other frameworks like AFNetworking.

@import LRMobileSDK;

Podfile should be kept as it was before:

pod 'Liferay-iOS-SDK', '~> 6.2.0.15'

[2015-03-31 00:46] #14 closed

[2015-03-31 13:23] brunofarache commented on #14
@jmnavarro, while using the portrait Screenlet I had compilation issues with the UIImageView+AFNetworking category. That's a problem with the AFNetworking version we are using and it was fixed here:

https://github.com/AFNetworking/AFNetworking/issues/2205

I will upgrade the Mobile SDK dependency to the latest AFNetworking version, this should fix Screens when using use_frameworks! as well.

[2015-03-31 13:38] jmnavarro commented on #14
Cool, thanks for the info!

On 31/03/2015, at 15:23, Bruno Farache <notifications@github.com> wrote:

@jmnavarro <https://github.com/jmnavarro>, while using the portrait
Screenlet I had compilation issues with the UIImageView+AFNetworking
category. That's a problem with the AFNetworking version we are using and
it was fixed here:

AFNetworking/AFNetworking#2205
<https://github.com/AFNetworking/AFN

[2015-04-10 08:20] speciosus opened #16 "Android & Liferay Mobile SDK: timeout ignored"
I write because I'm developing an Android App that uses Liferay as a backend.
I am experiencing the anomalous behavior in the management of timeout while invoking Liferay's journal article service.
In detail, I've setup the session in this two methods described in "SettingsUtils.java".
But while I perform the request no exception is raised even if the timeout is arbitrarily low.
I wrote a test cas

[2015-04-10 10:29] brunofarache commented on #16
No exception is being thrown because no request is sent in the test, as explained in the forum.

[2015-04-10 10:29] #16 closed

[2015-04-10 12:20] speciosus commented on #16
The problem still persist in my application although I invoke the service.
Also the working version of the application has been affected and also by changing the test as you can see below, the result is always the same.

No exception

// -- new Test case
  public void testTimeout() throws Exception{

        Logger.e("Test timeout");

        BasicAuthentication basicAuthentication = new BasicAuth

[2015-09-17 09:11] chetan-AD opened #17 "SSL Cerificate Validation issue"
On iOS devices we are able to communicate we our SSL enabled server. but on android it throws javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException:.

So till certification issue get fixed do we have any method in liferay sdk to ignore this Validation issue at android mobile end.

[2015-09-20 11:44] brunofarache commented on #17
Android doesn't allow self-signed certificates or there's something wrong with your certificate, see the documentation:

[https://developer.android.com/training/articles/security-ssl.html#CommonProblems](https://developer.android.com/training/articles/security-ssl.html#CommonProblems)

[2015-09-20 11:44] #17 closed

[2015-09-25 08:34] Nishi-Fertig-Aus opened #18 "Error Message when running Liferay iOS SDK in Xcode, Version 6.2.0.21"
Hello Bruno, I get an error message. Can you help me?

![2015-09-25 10 24 19 am](https://cloud.githubusercontent.com/assets/14584718/10096308/c249f1f6-6370-11e5-9073-dcb8b7c7423a.png)
![2015-09-25 10 25 13 am](https://cloud.githubusercontent.com/assets/14584718/10096313/cab6305c-6370-11e5-9c65-ebb92464ac47.png)

[2015-09-25 19:01] brunofarache commented on #18
@Nishi-Fertig-Aus: it says LRUploadData.h wasn't found, which means that file is missing.

[2015-09-25 19:08] Nishi-Fertig-Aus commented on #18
Hi Bruno, thank you for your response. I'm new to iOS and objective C. I just added the http folder to the project. The missing file is under http/File folder. But the error still shows up.

[2015-09-25 19:14] brunofarache commented on #18
Why haven't you imported the whole Mobile SDK to your project?

[2015-09-25 19:17] Nishi-Fertig-Aus commented on #18
Thank you. That solved the issue on a magical way.

[2015-09-25 19:19] #18 closed

[2015-10-06 11:38] Nishi-Fertig-Aus opened #19 "CocoaPods just installs version 6.2.0.4 and not the latest."
Hello Bruno,

I tried it several times and the log sometimes starts to download the latest sdk version, but then it falls back and starts installing the 6.2.0.4 version. Last time I closed all the Development Evironments on my computer and did use CocoaPods again and it just downladed the 6.2.0.4 version directly. Can you help? If I install it manually the AFNetworking Version 2.5.3 throws several

[2015-10-06 13:16] brunofarache commented on #19
Maybe because you're specifying 6.2.0.4 in your Podfile?

[2015-10-06 14:03] Nishi-Fertig-Aus commented on #19
No I did not specify the version. I created a cordova project and added ios to it. I moved to the platform/ios folder. There I created the Podfile with the single line. When I run $ pod install  it always downloads the 6.2.0.4 version.

[2015-10-06 15:00] brunofarache commented on #19
What you are saying doesn't make much sense, @Nishi-Fertig-Aus. I recommend you looking at the Cocoapods documentation to see how to install pods to your project.

[2015-10-06 15:00] #19 closed

[2015-10-06 15:40] Nishi-Fertig-Aus commented on #19
Hi Bruno,

Thank you for the Hint. When I added in Podfile the version 6.2.0.21. The CocoaPod gave me the hint, that there is the wrong build target. Yes indeed, cordova creates the project with iOS 6 as default target. After changing to iOS 9 the pod install command installs the latest version. Unfortunately there is a new issue if I run the project in xcode. Can you help?
![2015-10-06 05 38 54 p

[2015-10-12 11:23] chetan-AD opened #20 "Is there any way to differentiate between login failed and account locked cases."
I'm unable to differentiate event "login failed" & user account is locked.
We are using mobile sdk's below login function for authentication :

SignIn.signIn(session, new JSONObjectAsyncTaskCallback() {
                    @Override
                    public void onFailure(Exception exception) { }
});

We are getting exception type "com.liferay.mobile.android.exception.AuthenticationException: ja

[2015-10-15 17:02] brunofarache commented on #20
Unfortunately there's no way to distinguish them, @chetan-AD.

This would require a server side change and I'm not sure but it could perhaps create a security breach (is it secure to distinguish login errors? by saying an account is locked, you are saying that an account with that email exists).

[2015-10-15 17:02] #20 closed

[2015-10-29 15:57] denissignoretto opened #21 "Android Push: Add a method to Push.java to unregister a push passing the context and senderId"
Like it happen for registration, create unregister overloaded method that allow push unregistration passing context and senderId as parameters:

e.g. Push.with(session).unregister(this, SENDER_ID);

[2016-01-25 21:58] asotog opened #22 "Version number iTunes issue"
Hi there,

We are having version number complain from iTunes when trying to release application using Liferay Mobile SDK, we are using cocoapods, please check screen shot attached, it complains about the version number format:

<img width="789" alt="screen shot 2016-01-25 at 3 57 09 pm" src="https://cloud.githubusercontent.com/assets/813023/12565878/5406164a-c37c-11e5-888c-ded45fac74a2.png">

i no

[2016-01-25 22:17] brunofarache commented on #22
Hey @asotog,

We are going to fix that on next release. For now you can manually set the version to something that has 2 dots instead of 3. Search for the Mobile SDK's Info.plist in Xcode and change that before archiving.

[2016-01-26 00:04] #22 closed

[2016-01-26 00:06] asotog commented on #22
Thanks we did that to solve the issue meanwhile

[2016-02-25 16:48] brunofarache opened #23 "Add support for digest authentication for iOS"
Hi @baxtheman! Better to discuss the issue here.

During the development of our internal apps, we always used basic auth or OAuth, that's the main reason why a digest Authenticator implementation was never added to iOS.

The only time we had to to use digest was for WebDAV downloads, which by default requires digest and not basic.

In Android, we require callers to use the digest authenticator imp

[2016-02-25 18:26] baxtheman commented on #23
Hi Bruno,
  yes this place is better than twitter, sorry!

Our mobile teams (android, ios) is searching to a better authentication than BASIC one and we starting to test Digest.

We notice that for iOs Digest is missing, but testing Digest to call /api/jsonws services by Android platform we experience it's impossible to login.

The digest auth implementation in
https://github.com/brunofarache/life

[2016-02-25 19:01] brunofarache commented on #23
Interesting, @baxtheman.

DigestAuthentication.java does work while downloading files from WebDAV, if not, the Sync app wouldn't work at all.

I will test Digest with /api/jsonws. Silly/lazy question: how do I enable digest for /jsonws, is it in portal.properties?

[2016-02-25 19:38] brunofarache commented on #23
Another question, are you going to use SSL? Because if so, Basic is as safer as Digest, [I think](http://mark-kirby.co.uk/2013/how-to-authenticate-apis-http-basic-vs-http-digest/).

[2016-02-25 19:47] yuchi commented on #23
I support Bruno on this. There's no value in using Digest if you're under strict and enforced SSL.

[2016-02-26 08:23] baxtheman commented on #23
Hi Pier, welcome!

I agree SSL is the best solution to fix the security matter, but it's not always applicable.

I was testing the Digest way to have a better security than Basic, without load a extra effort for the project (https layer).

[2016-02-26 09:57] brunofarache commented on #23
Correct me if I'm wrong please. Digest is just a way of avoiding to send credentials in plain text, if SSL isn't enabled, all other request data will be in plain text. Which is kind of pointless to me, since credentials usually are not the only sensitive data that need to be protected.

Back to the SDK :P. In the portal, how do I enable digest for jsonws?

[2016-02-26 10:30] baxtheman commented on #23
Correct Bruno, in digest auth the password is sent using MD5 hashing and it's not readable in clear text sniffing http traffic.

To enable digest for jsonws use a portal-ext.properties adding these lines:

[code]

It should be enough.

[2016-02-26 10:41] yuchi commented on #23
But if I can sniff the initial handshake then I have most of the information to perform a (cheap) brute force attack on the hash. And given the fact that DIGEST is a standardized protocol I think there are a lot of *“utilities”* out there.

Portal supports DIGEST, so the SDK must support it too, but I wouldn’t consider it more secure than Basic, just hardened.

[2016-02-26 11:01] baxtheman commented on #23
Basic auth without https means no security at all.
Digest it's a first step forward to have a bit harder security.

[2016-02-26 12:07] brunofarache commented on #23
Digest being supported by portal alone doesn't justify the Mobile SDK must support it too.

The portal supports tons of other authentication mechanisms, most of them are not mobile friendly, it would be hard for the SDK to support all them. But yeah, digest seems to be an easy one, I will try it out.

We need to make it easier for devs to provide their own authentication implementation, it seems t

[2016-02-26 12:25] baxtheman commented on #23
Thx, I stay tuned.

[2016-02-26 13:28] yuchi commented on #23
I'm sorry, that's what I intimately meant.

[2016-08-01 13:40] phancox opened #31 "Portlet Configuration Page Missing on Liferay CE 7.0.1"
The Push Notification Portlet only shows "Devices" and "Test" tabs on Liferay CE 7.0.1  There is no configuration tab visible.

[2016-08-01 13:55] nhpatt commented on #31
The configuration tab is now a system setting and you can set it from there.

[2016-08-01 17:37] brunofarache commented on #31
Reopening issue because we need to add that to the documentation.

thanks for the heads up @phancox!

[2016-08-02 01:50] phancox commented on #31
Thanks guys.

[2016-08-02 11:26] phancox opened #32 "No JSON web service action with path /push-notifications-portlet"
When attempting to send from Push Portlet receive on Tomcat logs:
`No JSON web service action with path /push-notifications-portlet.pushnotificationsdevice/send-push-notification and method null for push-notifications-portlet`

When device attempts to register receive on Tomcat logs:
`No JSON web service action with path /push-notifications-portlet.pushnotificationsdevice/add-push-notifications-de

[2016-08-02 12:08] nhpatt commented on #32
There is an error with the urls of the push portlet (in GA2) & the push library.

It's fixed in latter versions of Liferay 7.0.x and in liferay-push:1.1.0.

We have released Screens 1.4.1, a hotfix version fixing several minor issues and including support for liferay-push 1.1.0... normally you could use a newer push version and an older screens version at the same time but in this case push needs

[2016-08-02 12:17] phancox commented on #32
Thanks for the quick response.  Would be great if you can send me the newer jar version.  Can you attach it here?

Since I've made my dependency 'com.liferay.mobile:liferay-screens:1.4.+', would I have already picked up version 1.4.1?

[2016-08-02 12:36] nhpatt commented on #32
I attach the jars for the new version.

I would specify the 1.4.1 (at least momentarily) because I don't know when gradle decides to check if there are new versions available. I don't think it does it every time the build is launched but I'm not sure...

[push-jars.zip](https://github.com/liferay/liferay-mobile-sdk/files/396977/push-jars.zip)

[2016-08-02 12:46] phancox commented on #32
Thanks.  Not sure how to deploy these though?  Can only find some similiar unpacked content in Tomcat's work directory.

Can I just deploy through upload to App Manager?  Not familiar with the OSGI stuff yet (if that's applicable).

THANKS

[2016-08-02 12:48] nhpatt commented on #32
You can drop them in the deploy folder as you would deploy a war file.

I suppose that they should also work via the app manager :)

Javier Gamarra
Mobile Developer

On Tue, Aug 2, 2016 at 2:46 PM, Peter Hancox <notifications@github.com>
wrote:

[2016-08-02 13:44] phancox commented on #32
Not having much luck with this.  Lots of work cleaning out the old modules but getting the following error, which I presume is stopping the portlet showing up under the configuration menu.
`23:30:57,760 WARN  [fileinstall-/data/liferay/osgi/modules][org_apache_felix_fileinstall:103] Error while starting bundle: file:/data/liferay/osgi/modules/com.liferay.push.notifications.test-1.0.0.jar
org.osgi.

[2016-08-02 13:52] nhpatt commented on #32
Uhm... that's the test jar of the portlet but should not prevent the web (com.liferay.push.notifications.web-1.0.4) of deploying... is there any more errors in the log? I suppose you have restarted... can you connect with the OSGI console and check the status of the bundles?

Just do in the terminal 'telnet localhost 11311' and then 'ss | grep push'

[2016-08-02 13:57] phancox commented on #32
Are you able to continue this chat on the #liferay IRC node?

[2016-08-02 15:18] phancox commented on #32
Not sure if you dropped out of IRC but all working now.  Many thanks for all your help.

[2016-08-02 15:25] nhpatt commented on #32
Sorry, phone call, I'm glad everything is ok now. I'll be around the forums if you need help :)

[2016-08-09 07:34] MoathOthman opened #33 "Code=500 "http-error" UserInfo={NSLocalizedDescription=http-error}"
Hi , I've been trying to to apply the instructions in this tutorial
https://dev.liferay.com/develop/tutorials/-/knowledge_base/7-0/using-screenlets-in-ios-apps
I did exactly the same  but I get this error .
**Error Domain=com.liferay.mobile.sdk Code=500 "http-error" UserInfo={NSLocalizedDescription=http-error}**

Environment
- xcode 7.3.1 , OS X 10.11.5

[2016-08-09 13:12] brunofarache commented on #33
This is the Mobile SDK repo, not Liferay Screens, which can be found here:
https://github.com/liferay/liferay-screens

[2016-08-09 13:12] #33 closed

[2016-08-23 14:56] phancox commented on #32
Just resumed work on this and not having much luck.  Device is registering with the portal and the portal is sending a test message successfully (or so it says).  No messages on the Tomcat logs.

I have a debug statement in the "onPushNotificationReceived()" method but it isn't called.  Not sure how to debug this as the message just seems to vanish,

Reading up on push notifications to Android gen

[2016-08-23 20:58] nhpatt commented on #32
Did you define a service and broadcast receiver in your app? Does your phone appears as registered in the portal?

You don't need anything in the play console.

[2016-08-23 23:18] phancox commented on #32
Yes the phone does show as registered in the Portal.  Code is based on an article for developing an Android client for Liferay push.  I'm only expecting to receive notifications with the app running (for now); so do I need a service and broadcast receiver?  Main activity below.

`package com.dtc.liferaypushnotificationdemo;

import android.app.AlertDialog;
import android.content.DialogInterface;
i

[2016-08-23 23:20] phancox commented on #32
This probably isn't the best place for this discussion, would you prefer to take it onto a forum somewhere?

[2016-08-24 06:13] nhpatt commented on #32
Yes, you need a receiver and a service even if you want to receive the notification in the activity. The best place to continue is here [official forums](https://web.liferay.com/community/forums/-/message_boards/category/42706063)

[2016-08-24 07:26] phancox commented on #32
Continued at https://web.liferay.com/community/forums/-/message_boards/message/78047821

[2016-08-24 07:33] #32 closed

[2016-10-12 16:19] nhatchu opened #35 "add a sample app with swift"
Hi,

Could you provide a sample app with swift?

Regards Nhat Chu

[2016-10-19 02:39] hutingung opened #36 "Add support for cookie authentication in iOS"

[2016-10-19 19:43] jmnavarro commented on #36
On his way [here](https://github.com/brunofarache/liferay-mobile-sdk/pull/52)

[2016-10-20 13:52] auspicious99 commented on #36
That implementation works. Cool!

[2016-11-25 17:28] #36 closed

[2017-02-08 14:31] dodikk opened #37 "Is Xamarin package support on the project's roadmap?"
In case xamarin bindings do exist already, it would be nice to have a link in a readme.
If not, are you planning to build them?

[2017-02-08 19:55] brunofarache commented on #37
We don't have support to Xamarin yet. We will research and check how easy would be to create a binding for Android/iOS.

[2017-02-08 19:55] #37 closed

[2017-02-09 00:08] yuchi commented on #37
You can use this one made by @Ithildir: https://github.com/Ithildir/liferay-sdk-builder-windows
It hasn’t been updated for a while but should be _that_ hard to upgrade to the latest generator.

[2017-02-09 08:20] dodikk commented on #37
Thank you. According to the readme, it does not seem to support iOS or Android. However, actually, it's a PCL and it should work on mentioned platforms.

P.S. Not sure if `LGPL` license is permissive enough for applying this package on iOS due to AOT compilation and possible static linking.

[2017-02-09 08:22] dodikk commented on #37
Sorry, the readme does mention the PCL.

[2017-05-10 08:58] victorg1991 opened #46 "Support for tvOS"
Yesterday I was trying to use the mobile-sdk in tvOS, but it's not supported yet. The main reason is because currently this library has a dependency with AFNetworking v2.6.3 which doesn't support it either. We could update that dependency and support this new platform :)

[2017-09-12 12:56] wolfAle opened #48 "NSURLSession connectionTimeout"
Hi all,

`LRSession` enables to configure a custom `connectionTimeout` value, that's I expect to be used in the concrete NSURLRequest.
Today I found out that it's not the case because in `+ (void)_sendAsynchronousRequest(NSURLRequest *)request session:(LRSession *)session {` the `session.connectionTimeout` value is ignored and the `NSURLSession` is created with a default `NSURLSessionConfiguration

[2017-10-13 12:21] girijeshkumar2007 opened #49 "Getting error While uploading image"
- (NSString *)addLocationWithUserId:(NSString *)userId title:(NSString *)title street:(NSString *)street city:(NSString *)city state:(NSString *)state zip:(NSString *)zip country:(NSString *)country latitude:(NSString *)latitude longitude:(NSString *)longitude image:(LRUploadData *)image keepPrivate:(BOOL)keepPrivate isVenue:(BOOL)isVenue isPermitRequired:(BOOL)isPermitRequired externalURL:(NSStri

[2017-12-20 14:47] wolfAle commented on #48
Hi guys,

any news here?

Thanks,
Alessandro

[2017-12-21 10:45] victorg1991 commented on #48
Hey @wolfAle What do you think about trying to implement it yourself? I can help you in anything you need

[2017-12-21 10:51] wolfAle commented on #48
Hi @victorg1991,

sure thing, I've already used a workaround with method swizzling to get there, I'll create a push request with that code (without method swizzling of course).

Thanks

[2017-12-21 10:54] victorg1991 commented on #48
Nice, thank you so much! :D

[2017-12-21 13:52] victorlaerte commented on #35
Hi @nhatchu have you heard about Liferay Screens? It's built with Swift using Mobile SDK.

[Liferay Screens](https://github.com/liferay/liferay-screens)

[Example service using Mobile-SDK](https://github.com/liferay/liferay-screens/blob/develop/ios/Framework/Core/Auth/Common/Connectors/GetUserByEmailLiferayConnectors.swift)

If you need some help, let met know.

[2017-12-28 19:20] #35 closed

[2018-01-04 14:14] victorlaerte commented on #49
Did you try same request using curl or postman? By this msg error is difficult to related this issue to Mobile SDK

[2018-01-05 10:06] girijeshkumar2007 commented on #49
i manage to fix this issue by using AFNetwroking libaray thanks

[2018-01-05 17:58] #49 closed

[2018-01-11 09:40] nhpatt commented on #21
Mmm... is it enough with the currently existing one: public void unregister(String registrationId) throws Exception ?

[2018-01-26 18:55] #31 closed

[2018-06-14 14:33] #21 closed

[2018-07-25 10:14] fabioalmeidaxpand opened #67 "IPv6 problem"
Hello,

I'm using 7.0.7 version of liferay-mobile-sdk, and I'm having my application rejected by the Apple Store, because of a IPv6 issue. They claim that they are not able to run my application on a Wi-Fi connected to an IPv6 network.
I'm only using the LiferaySDK to communicate with the server, does anyone had this issue too? Can be the AFNetworking version used by the LiferaySDK be the reason t

[2018-07-25 12:13] victorg1991 commented on #67
Hi @fabioalmeidaxpand you can try to use the version 7.1 that comes with a new version of AFNetworking :)

[2018-07-25 15:02] fabioalmeidaxpand commented on #67
Hello @victorg1991, thanks for the reply. Isn't the version 7.1 still in beta? I installed the version 7.1 once, for testing, and it was using the same AFNetworking version (2.6.3).

[2018-07-25 15:53] victorg1991 commented on #67
It's not in beta anymore, you can see the dependency [here](https://github.com/liferay/liferay-mobile-sdk/blob/master/Liferay-iOS-SDK.podspec#L30)

[2018-07-25 16:52] fabioalmeidaxpand commented on #67
@victorg1991  I didn't notice that it's not beta anymore. I will test with the new version! Do you know if anyone was having the same problem about IPv6 with the 7.0.7 version?

[2018-07-26 14:30] fabioalmeidaxpand commented on #67
@victorg1991 sorry to insist in this question. Do you know if anyone was having the same problem about IPv6 with the 7.0.7 version of liferay-mobile-sdk?

[2018-07-26 16:13] allanragec commented on #67
@fabioalmeidaxpand In mobile sdk version 7.0.7 we were using AFNetworking version 2.6.3. We only start to use AFNetworking 3 in mobile-sdk 7.1

In AFNetworking 3.0+ has several fixes for IPV6 like https://github.com/AFNetworking/AFNetworking/pull/3174
you can see on release notes [release notes](https://github.com/AFNetworking/AFNetworking/releases/tag/3.0.0)

[2018-07-31 06:40] victorg1991 commented on #67
Sorry @fabioalmeidaxpand we are not aware of more people having this problem

[2018-08-09 21:24] victorlaerte opened #68 "Remove deprecated code to get user inputs from Gradle task createModule"
Reference:
[JIRA Issue](https://issues.liferay.com/browse/LPP-31052)
[Gradle Github Issue](https://github.com/gradle/gradle/issues/1251)

[2018-08-24 07:43] duongtruong12 opened #69 "Error while getting console."
i got this Message while run command on git bash, i even run all command include './gradlew createModule --no-daemon'

Quang Truong@QuangTruong-PC MINGW64 /e/Android/AnroidProject/liferay-mobile-sdk (builder-7.0.0)
$ ./gradlew createModule -P=all
:createModule
Error while getting console.
:builder:compileJavawarning: [options] bootstrap class path not set in conjunction with -source 1.6
1 warning

[2019-03-22 11:54] Moulikaattili opened #74 "Default login screenlet issue"
Below is the code I Used in my project. A gray color screen was getting displayed but default login screenlet was not shown. when this piece of code was written "loginScreenlet.BasicAuthMethod = BasicAuthMethod.Email;" java null point exception was thrown. Please suggest me a solution for this.

var linearLayout = new LinearLayout(Context);
                linearLayout.LayoutParameters = new Layou

[2019-03-22 15:19] nhpatt commented on #74
Are you using the screenlet with Xamarin or native Android?

[2019-03-22 15:44] Moulikaattili commented on #74
Using it with Xamarin

[2019-03-24 23:42] nhpatt commented on #74
I'm not sure that you can instantiate the screenlet directly... can you use https://github.com/liferay/liferay-screens/blob/develop/xamarin/Samples/Showcase-Android/Activities/LoginActivity.cs as a reference on how to use it in Xamarin?

[2019-03-25 10:38] Moulikaattili commented on #74
I am already using it, but it didn't work.

[2019-03-25 13:00] sebastek opened #75 "Wrong package definition"
Hello

Is it expected that such class JournalArticleService.java declares
package com.liferay.mobile.screens.service.v70
but is inside /com/liferay/mobile/android/v7/journalarticle folder ?

https://github.com/liferay/liferay-mobile-sdk/blob/master/android/services-v7/src/main/java/com/liferay/mobile/android/v7/journalarticle/JournalArticleService.java

Thanks
Sebastien

[2019-03-25 14:53] nhpatt commented on #74
Can you use the screenlet that way? by referencing it from a resource file instead of instantiating it?

[2019-03-26 12:01] Moulikaattili commented on #74
Can you please elaborate this? And also is it possible to use life ray screenlets commonly for both iOS and Android. As all the tutorials we checked used liferay separately for iOS and Android in Xamarin forms.
Below is the error I am getting while trying to add liferay screens for android separately.

"All packages and projects are compatible with MonoAndroid,Version=v8.1."

And this is the error

[2019-03-26 19:06] nhpatt commented on #74
Xamarin errors... @dgarciasarai can you look at this?

Can you please elaborate this?
-- Right now you are instantiating the screenlet with code, but that is not very common in android because it doesn't hook with the lifecycle of the activity...

To work you have to instantiate with a layout, the xml file, like [this](https://github.com/liferay/liferay-screens/blob/master/xamarin/Samples/Showcase

[2019-03-27 07:15] nhpatt commented on #75
Yep, that's a mistake. I've moved to the right folder. Do you need a release? We'll do one at the end of April with all the adaptations for 7.2

[2019-03-27 09:03] sebastek commented on #75
Thanks for the change. Release would perfect.

[2019-03-27 16:54] dgarciasarai commented on #74
@Moulikaattili Liferay Screens NuGet is not prepared to use commonly for iOS and Android in Xamarin.Forms. As you said, you have to use it separately (you have to install it separately in each platform). I'm going to take a look to the error that you found when you installed the package in Android platform. Which versions are you using?

[2019-03-30 17:25] nhpatt commented on #67
I think it's safe to close it now, please reopen if necessary :)

[2019-03-30 17:25] #67 closed

[2019-03-31 08:08] nhpatt commented on #68
Closing, please reopen if necessary :)

[2019-03-31 08:08] #68 closed

[2019-03-31 08:09] nhpatt commented on #23
Closing, please reopen if necessary :)

[2019-03-31 08:09] #23 closed

[2019-03-31 08:09] nhpatt commented on #69
Closing, please reopen if necessary :)

[2019-03-31 08:09] #69 closed

[2019-03-31 15:04] nhpatt commented on #75
Done, it will be propagated in a few hours: https://bintray.com/liferay/liferay-mobile/liferay-android-services-v7/7.1.4

[2019-04-01 09:04] Moulikaattili commented on #74
Below is the error I am getting while trying to add liferay screens for android separately.

"All packages and projects are compatible with MonoAndroid,Version=v8.1."

And this is the error I am getting while adding liferay screens commonly for iOS and Android.

"Checking compatibility for Microsoft.NETCore.Platforms 1.1.0 with .NETStandard,Version=v2.0.
Incompatible packages: 1
Package restore fa

[2019-04-02 09:32] Moulikaattili commented on #74
Stuck with this issue. Please help us in solving this.

[2019-04-02 14:47] dgarciasarai commented on #74
Hey @Moulikaattili we reproduced the issue and we realised that it was caused due to a version conflict. Sorry for the inconvenience. We will let you know when we have a solution.

[2019-04-03 08:32] Moulikaattili commented on #74
@dgarciasarai Thank you for your support

[2019-04-03 09:28] dgarciasarai commented on #74
@Moulikaattili I think I found a solution. First, check if at the beginning of your Package Console you see something like this:

[code]

If that happen, you should install first the higher version which is involved in the conflict. In this case it's `Xamarin.Android.Support.Annotations (= 27.0.2.1)`. Then, you should add LiferayScreens NuGet package and the version conflict should be gone.

Let m

[2019-04-04 13:17] Moulikaattili commented on #74
@dgarciasarai a small question. Is it possible to integrate liferay screens (login) in Xamarin.Forms under .Net core? I tried it once but didn't happen so I chose shared option.

[2019-04-04 14:16] dgarciasarai commented on #74
@Moulikaattili Sorry, but if I understand you, Liferay Screens NuGet was created to use it in each platform.

[2019-04-05 08:49] Moulikaattili commented on #74
@dgarciasarai I got your point. My question is while creating the project, under shared code section if I select **use shared library** only then I am able to add liferay screens. But my main project is under **use .Net Standard**. So I want to make sure whether liferay works only with **use shared library** enabled.
Attaching screenshot for your reference.

![Screen Shot 2019-04-05 at 2 13 16 PM]

[2019-04-15 09:52] Moulikaattili commented on #74
@dgarciasarai can you please help me in fixing this problem.

[2019-04-23 08:07] #75 closed

[2019-08-06 10:49] chaitut715 opened #77 "Error while getting console in Mac OS"
$ ./gradlew createModule -P=all --stacktrace

Error while getting console.

BUILD SUCCESSFUL in 0s
1 actionable task: 1 executed

Mac OS 10.14.6

[2019-08-06 22:32] nhpatt commented on #74
Did you try it?

[2019-08-06 22:35] nhpatt commented on #77
Hi!

It's explained [here](https://github.com/liferay/liferay-mobile-sdk/blob/master/builder/README.md)

[2019-08-06 22:36] nhpatt commented on #77
Closing it, please reopen if the issue persists.

[2019-08-06 22:36] #77 closed

[2019-09-07 09:01] Noufalt opened #78 "Liferayscreen->LoginScreenlet is not working in Xamarin.iOS"
Hi ,
The default loginscreenlet is not working in xamarin ios. The issue is as like showcase app i have created view with class "LoginScreenlet" after putting this when i run the app the main storyboard is not launching .Its crashing from there . But the showcase app is working fine . Could you please help on this .

[2019-09-07 09:02] nhpatt commented on #78
/cc @dgarciasarai :P

[2019-09-09 16:32] dgarciasarai commented on #78
Hi @Noufalt,
Are you creating a Xamarin.iOS app or are you using Xamarin.Forms?
Which version are you using?

[2019-09-09 17:45] Noufalt commented on #78
Thanks for your prompt reply .

I am using Xamarin.iOS .Version details mentioned below .Also can we use Liferayscreenlet in xamarin forms ? If then could you please provide me sample or code snipped ior any blog :-

Xamarin.iOS
Version: 12.14.0.114 (Visual Studio Community)
Hash: c6691164
Branch: d16-2
Build date: 2019-07-29 15:54:05-0400

[2019-09-11 13:01] Noufalt opened #79 "Wescreenlet not authenticated by liferay instance in Xamarin"
Hello ,

I am using webscreenlet to show  url in Xamarin.Android app . But every time when i see the page in webscreenlet it asks for sign in . As per the documentation below I have implemented it .

**WebType.LIFERAY_AUTHENTICATED (default): Displays a Liferay Portal page that requires authentication. The user must therefore be logged in with Screens via Login Screenlet or a SessionContext method

[2019-09-11 14:56] dgarciasarai commented on #78
I'm going to take a look at this issue.
First of all, if you want to use the LoginScreenlet you need this package:
https://www.nuget.org/packages/LiferayScreens/

If you want to use it for Xamarin.Forms, you have to add the NuGet package in each platform and use it the same way. There is no package explicitly for Forms, sorry.

Do you have a repo when you're trying to do this? Thanks.

[2019-09-12 06:04] Noufalt commented on #78
Hello ,
Here is the repo :-
https://github.com/Noufalt/LiferayScreenSamples/tree/master/testliferayScreen/loginScreenLetiOS

[2019-09-18 05:27] Noufalt commented on #79
Can someone can look on this issue ?

[2019-09-18 05:28] Noufalt commented on #78
@dgarciasarai
Did you get time to loon on this issue ?

[2020-02-24 08:13] frangeveris opened #80 "Gradle & Maven deprecated clear HTTP calls"
Gradle deprecated the http calls early this year, and Maven followed suit. That means we cannot use the 6.2.0.18 builder to generate new versions of the services library.  Our client won't upgrade to Liferay 7 from 6.2, so we're stuck with this version of the builder. Is there any alternative to this or any plan of changing the http calls in the SDK to https?

[2020-02-24 11:46] victorg1991 commented on #80
Hey @frangeveris

The HTTP calls that the builder is doing are targetting your localhost server installation right?

[2020-02-24 13:51] frangeveris commented on #80
Hi @victorg1991
When I do gradlew generate, I get this error
[code]
These are the http calls I meant

[2020-02-29 08:13] gotamafandy commented on #80
you can add

[code]

into your build.gradle in root.

your build.gradle will be look like this after adding new https

[code]

[2020-03-02 18:04] frangeveris commented on #80
Hi @gotamafandy !
I did as you said and we still get error when generating the libraries:
Here's the debug output https://pastebin.com/4Z5ikVra
And here's the exception stacktrace https://pastebin.com/8ageeiWz

Please, let me know if there's any other piece of info that you could need.
Thanks in advance!

[2020-05-11 17:45] pravinsurvase commented on #80
Hi,

Unable to build the customer SDK for Liferay Ver 6.2 and SDK builder version 6.2.0.17.

Made suggest changes in build.gradle at root directory.

Could not resolve all dependencies for configuration ':builder:compile'.

  Required by:
      com.liferay.mobile:builder:6.2.0.17

  Required by:
      com.liferay.mobile:builder:6.2.0.17

  Required by:
      com.liferay.mobile:builder:6.2.0.17

[2020-05-26 06:42] victorg1991 commented on #80
Hey, I've pushed some commits to master, you should be able to generate 6.2 services.

Could you clone the repo and try again? You should execute `gradlew createModule -Pall --console plain --no-daemon` and select version 62

[2020-05-29 08:03] frangeveris commented on #80
Hi @victorg1991
I just tried it, both on Windows Power Shell and Git Bash. In both cases, I didn't get the prompt to enter data, just went straight to an exception. Apparently, it attempts to unzip an empty zip file?

` ./gradlew createModule -P=all --console plain --no-daemon
Unzipping C:\Users\fgarcgar\.gradle\wrapper\dists\gradle-1.11-all\7qd8qq8te5j4f5q9aaei3gh3lj\gradle-1.11-all.zip to C:\Use

[2020-05-29 08:07] victorg1991 commented on #80
hey @frangeveris  are you using the latest commit from master? It seems that is trying to use gradle 1.11, but the gradle version in master is 5. If you are in the latest commit of master can you  do a clean clone again, or just remove the .gradle folder? :)

[2020-05-29 08:07] victorg1991 commented on #80
Oh I've seen that you were using the tags/builder-6.2.0.18, you should use the latest commit of master, not that particular tag

[2020-05-29 08:56] frangeveris commented on #80
An error message prompted me to use --sacktrace, so I reran the script with that additional option and pasted the output here https://pastebin.com/eHmiCXLg

[2020-05-29 11:48] victorg1991 commented on #80
@frangeveris It was mandatory to have the android sdk installed in your machine, I've pushed a commit to fix this, can you fetch the new changes and try again, please?

[2020-05-29 12:04] frangeveris commented on #80
Hi @victorg1991
It finally generates the module, but gradlew jar fails with SDK location not found. Before the deprecation, I did generate this module on this same computer. Never uninstalled or changed anything android-related since installation.

Here's the output run with --stacktrace  https://pastebin.com/PKGimdiu

Thanks for your effort ;)

[2020-05-31 08:59] pravinsurvase commented on #80
Hi @victorg1991

Downloaded latest master.zip.  See below the steps followed. The build is successful however under module directory empty portlet folder is created.

Kindly let me know how to resolve this or guide me if I'm doing something incorrect.

E:\Liferay\liferay-mobile-sdk-master>gradlew createModule -Pall --console plain --no-daemon
Java HotSpot(TM) 64-Bit Server VM warning: ignoring opt

[2020-05-31 09:00] pravinsurvase commented on #80
Hi @victorg1991

Downloaded latest master.zip. See below the steps followed. The build is successful however under module directory empty portlet folder is created.

Kindly let me know how to resolve this or guide me if I'm doing something incorrect.

E:\Liferay\liferay-mobile-sdk-master>gradlew createModule -Pall --console plain --no-daemon
Java HotSpot(TM) 64-Bit Server VM warning: ignoring opti

[2020-06-01 06:15] victorg1991 commented on #80
@frangeveris Configuring the android SDK should solve that problem, anyway I've pushed a fix for this not to be mandatory. You should be able to execute jar task without having the android SDK

@pravinsurvase Did you execute `../../gradlew generate `from the folder that createModule task generated? That task should create a directory with a gradle.properties file only

[2020-06-01 06:28] frangeveris commented on #80
Hi @victorg1991

I've noticed something new with the latest pull: the gradlew generate builds successfully but outputs a JSONException

../../gradlew generate --stacktrace

jun 01, 2020 8:23:16 AM com.liferay.mobile.sdk.SDKBuilder main
GRAVE: org.json.JSONException: A JSONObject text must begin with '{' at 202 [character 1 line 168]
java.io.IOException: org.json.JSONException: A JSONObject text mu

[2020-06-01 14:28] pravinsurvase commented on #80
Hi @victorg1991

Need one clarification: Is the generation of custom portlet mobile SDK dependent on liferay master mobile SDK i.e. liferay-mobile-sdk-master?

Initially few days I had old liferay-mobile-sdk-master and I tried building custom SDK with liferay-mobile-sdk-android-6.2.0.17 (i.e. createModule and jar) it had multiple issues.

Now as per your advice I downloaded latest liferay-mobile-s

[2020-06-02 06:24] pravinsurvase commented on #80
Hi @victorg1991

Need one clarification: Is the generation of custom portlet mobile SDK dependent on liferay master mobile SDK i.e. liferay-mobile-sdk-master?

Initially few days I had old liferay-mobile-sdk-master and I tried building custom SDK with liferay-mobile-sdk-builder-6.2.0.17  (i.e. createModule and jar) it had multiple issues.

Now as per your advice I downloaded latest liferay-mobile-

[2020-06-03 15:19] victorg1991 commented on #80
@frangeveris There is a problem with the DDLRecord service that generates two methods with the same signature, you have to edit the conflictive file and remove one of those. That being said, do you want to generate all the services of your instance or just a couple of them? Because I think some of those services are included in the android-mobile-sdk library so it will be some clashing if you impo

[2020-06-03 15:19] victorg1991 commented on #80
@pravinsurvase Can you share the error that you are getting? did you check that the services you want to generate are available in /api/jsonws of your instalation?

[2020-10-09 11:10] sheejasagar opened #82 "Liferay-iOS-SDK is not compatible for AFNetworking v4"
Hi Team,

Liferay-iOS-SDK is not compatible  for AFNetworking v4. Could you please provide a version that supporting AFNetworking v4.

Please find the below link for more details.

https://github.com/AFNetworking/AFNetworking/issues/4615

Thanks

[2020-10-22 17:14] victorg1991 commented on #82
Afnetworking has been updated in the 7.3.0 release :)

[2020-10-22 17:14] #82 closed

[2020-10-23 13:57] sheejasagar commented on #82
Thanks Victor for the update. I will check it and let you know.

[2020-10-27 08:49] sheejasagar commented on #82
Thanks Victor for the support. Its working fine.

[2020-11-04 14:21] frangeveris opened #83 "Issue with "/""
When trying to generate the mobile sdk for a DXP server, I've checked out the **tags/builder-7.1.0** from your repo, run the
`./gradlew createModule -P=all --console plain --no-daemon`
input the data requested
executed `gradlew generate` and `gradlew jar`

What I get is

I've dived in the files, and found that _settings.gradle_ had
`include "modules/${module.name}"` which I promptly changed into `